body{
    font-size:17px;
    color: white;
}
.social-icons a{
    text-decoration: none;
}
.langButton{
 background: none !important;
border: none !important;
color: white;
}
.langButton:focus{
    color: green;
}
/* home section  */
#home {
    align-items: center;
    background: url(/assets/img/main-bg.jpg);
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 90vh;
    justify-content: center;
}

#home .head{
    margin: auto;
    max-width: 60%;
}
@media screen and (max-width: 768px){
#home .head {
    max-width: 100%;
}
#home .btn-cta img {
    max-width: 70% !important;
    padding: 5px !important;

}
}
#home .btn-cta img{
    max-width: 18%;
}

/* about section  */
#about{
    
    background: url(/assets/img/introduction-bg.jpg);
    background-position: top;
    background-size: cover;
    padding: 60px 0;
 
}
/* about carousel  */
#about .about-carousel{
    background: url(/assets/img/image-bar-bg.png);
    background-position: 50%;
    background-size: cover;
    padding: 15px 0 5px;
}
@media screen and (max-width: 800px){
  .desktop_div{
    display: none;
  }
}

@media (min-width:801px) and (max-width:5000px) {
    .res_div{
        display: none ;
    }
}

/* free minting  */
#free-minting {
    background-image: url(/assets/img/minting-bg.png);
    background-position: 50%;
    background-size: cover;
    padding: 120px 0 60px;
}
#free-minting .ps-info-box img {
    margin: 30px 0;
    max-width: 25%;
}
@media screen and (max-width: 768px){
    #free-minting .ps-info-box img {
        margin: 20px 0;
        max-width: 50%;
    }
    .row{
        --bs-gutter-x:0;
    }
}
#free-minting #mint-btn {
    text-decoration: none;
    background-color: #2eba85;
    border: 3px solid #2eba85;
    border-radius: 20px;
    color: #fff!important;
    font-weight: 600;
    margin-top: 40px!important;
    padding: 10px 46px;
}
/* road map  */
#roadmap {
    background: url(/assets/img/roadmap-bg.png);
    background-position: top;
    background-size: cover;
}
#roadmap .container {
    background: url(/assets/img/container-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 0;
}
.pre{
    background: #179ae4;
    /* border-radius: 100%;
    color: #fff; */
    font-size: 1.5rem;
    font-weight: 700;
    height: 4rem;
    line-height: 4rem;
    margin: 0 auto -2rem;
    position: relative;
    text-align: center;
    width: 4rem;
    z-index: 3;

}
/* .card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 768px) {

    .card-section{
    display: grid;
    grid-template-columns: 1fr;
}
} */
.card{
    background: none !important;
 
}
.card-body{
    background: rgba(4,26,35,.9);
    border-radius: 15px;
    /* box-shadow: 0 0 15pxrgba(5,165,207,.6); */
    height: 12rem;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    z-index: 2;
}
/* patner projects */

#partners-projects {
    background-image: url(/assets/img/head-bg.png);
    background-position: top;
    background-size: cover;
    padding: 60px 0;
}
#partners-projects .container {
    background: rgba(0,0,0,.85);
    border-radius: 20px;
    max-width: 1000px;
    padding: 60px;
}

#partners-projects .partners {
    padding-bottom: 40px;
}
#partners-projects .partners img, #partners-projects .projects img {
    padding: 20px;
}
/* faq section  */
#faq {
    background-image: url(/assets/img/faq-bg.jpg);
    background-position: top;
    background-size: cover;
    padding: 60px 0;
}
#faq .container {
    background: rgba(0,0,0,.85);
    border-radius: 20px;
    max-width: 1000px;
    padding: 60px;
}
#faq .faq-border {
    border-top: 1px solid #fff!important;
    margin: auto;
    max-width: 95%;
}
#faq .accordion .accordion-item {
    background: transparent;
    border-bottom: 1px solid #28282d;
    margin: 20px 0;
}
#faq .accordion .accordion-item .accordion-button {
    background-color: transparent;
    color: #fff;
    padding: 20px 10px;
}
#faq .accordion .accordion-item .accordion-button h3 {
    font-weight: 700;
}
#faq .accordion .accordion-item .accordion-body h3 {
    color: #2eba85;
    font-weight: 700;
}
/* footer  */
#footer {
    background-color: #0b2728;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}
.list ul{
    list-style: none;
}

.list ul a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:992px) {
    
    
    .list ul{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 27px;
    }
    
     ul {
        padding-left: 1rem;
    }
}

/* tokenomics page or section  */
#tokenomics {
    background-image: url(/assets/img/head-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}
#tokenomics .container {
    background: rgba(0,0,0,.65);
    border-radius: 10px 10px 0 0;
    max-width: 1150px;
    padding: 40px;
}
@media  screen and (max-width: 768px){
#tokenomics #nft-bottom, #tokenomics .container {
    padding: 40px 20px;
}
#tokenomics #nft-card, #tokenomics #token-box {
    padding: 40px 0;
}
}
#tokenomics #token-box {
    background: linear-gradient(180deg,rgba(46,194,225,.4),rgba(46,194,225,.1) 50%,transparent);
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}
#tokenomics #token-box #info .info-box {
    background: linear-gradient(90deg,#2eba85,rgba(46,186,133,.25) 14.06%,rgba(46,186,133,0));
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    padding: 8px 20px;
}
#tokenomics #token-box #info .info-box .label {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
}
#tokenomics #token-box #info .info-box .value {
    font-size: 14px;
    line-height: 1.8em;
}
#tokenomics #token-box #dist .dist-box {
    border-top: 1pxsolidhsla(0,0%,100%,.25);
    margin-top: 10px;
    padding-top: 6px;
}